PORT=8080
CLIENT_ID= <blizzard_client_id>
CLIENT_SECRET= <blizzard_client_secret>
DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
LOG_LEVEL=debug
BASIC_AUTH_USERNAME=your_username
BASIC_AUTH_PASSWORD=your_secret_password
